/* Aesthetics for the title-slide */

.title {
  font-size: 50px !important;
}

.subtitle {
  font-size: 30px !important;
}

.quarto-title-affiliation{
  font-size: 20px !important;
  text-align: left;
}

.quarto-title-author-name {
  border-top: solid;
  border-top-width: 1px;
  font-size: 26px;
  padding-top: 30px;
  padding-bottom: 60px;
  margin-left: 15%;
  margin-right: 15%;
}

.date {
  font-size: 20px;
}
